<ul class="box">
<%= link_to root_path do %>
  <li><h3> Complex name: </h3> <p>Condominio Bela-vista</p></li>
  <li><h3> Address: </h3> <p>Rua Uça, 206</p></li>
  <li><h3> Number of proprieties: </h3> <p>12</p></li>
<% end %>
</ul>