<%= link_to root_path do %>
<ul class="box">
  <li><h3> Complex name: </h3> <p>Condominio Bela-vista</p></li>
  <li><h3> Address: </h3> <p>Rua Uça, 206</p></li>
  <li><h3> Number of proprieties: </h3> <p>12</p></li>
</ul>
<% end %>