<div id="wrapper">
<div id="page-content-wrapper">
   <div class="container-fluid">

<div class="long-box">
	<h1>Welcome to your dashboard</h1>
	<h1>You can click in complex to access your complex list.</h1>
	<h1>In your dash board you will get all infotmations that you have about your saved proprieties.</h1>  
</div>
   </div>
   </div>
   </div>