<div id="wrapper">
<div id="page-content-wrapper">
   <div class="container-fluid">

<table class="table long-box" >
  <thead>
    <tr>
      <th>Apartament</th>
      <th>Tenant</th>
      <th>Owner</th>
      <th>Rental</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Apt. 101</th>
      <td>João Fonseca</td>
      <td>Norton dos Santos</td>
      <td>R$ 2340,00</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 102</th>
      <td>Maria Joana</td>
      <td>Norton dos Santos</td>
      <td>R$ 2134,20</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 103</th>
      <td></td>
      <td>Norton dos Santos</td>
      <td>R$ -</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 102</th>
      <td>Maria Joana</td>
      <td>Norton dos Santos</td>
      <td>R$ 2134,20</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 101</th>
      <td>João Fonseca</td>
      <td>Norton dos Santos</td>
      <td>R$ 2340,00</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 102</th>
      <td>Maria Joana</td>
      <td>Norton dos Santos</td>
      <td>R$ 2134,20</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 101</th>
      <td>João Fonseca</td>
      <td>Norton dos Santos</td>
      <td>R$ 2340,00</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 102</th>
      <td>Maria Joana</td>
      <td>Norton dos Santos</td>
      <td>R$ 2134,20</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 101</th>
      <td>João Fonseca</td>
      <td>Norton dos Santos</td>
      <td>R$ 2340,00</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 102</th>
      <td>Maria Joana</td>
      <td>Norton dos Santos</td>
      <td>R$ 2134,20</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 101</th>
      <td>João Fonseca</td>
      <td>Norton dos Santos</td>
      <td>R$ 2340,00</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <th scope="row">Apt. 102</th>
      <td>Maria Joana</td>
      <td>Norton dos Santos</td>
      <td>R$ 2134,20</td>
      <td><a href="#">Link</a></td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>