<div id="wrapper">
<div id="page-content-wrapper">
   <div class="container-fluid">

<div class="long-box">
	<h1>Complex: </h1>  <h3>Bela vista</h3>
	<h1>Address: </h1>  <h3>Rua Uça, 206</h3>
</div>


   </div></div></div>