   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="sidebar-nav">
                <li>
                    <a href="/dashboard">Complex</a>
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->  
    </div>
    <!-- /#wrapper -->


     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>