<div id="wrapper">
<div id="page-content-wrapper">
<div class="container-fluid">

<table class="table long-box" >
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th>Monthly Payment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Luz Predial</th>
      <td>R$ 320,00</td>
      <td>1\1</td>
      <td><a href="#">Edit Remove Show</a></td>
    </tr>
    <tr>
      <th scope="row">Conta de água</th>
      <td>R$ 987,43</td>
      <td>1\1</td>
      <td><a href="#">Edit Remove Show</a></td>
    </tr>
    <tr>
      <th scope="row">Reforma Portaria</th>
      <td>R$ 123,43</td>
      <td>3\12</td>
      <td><a href="#">Edit Remove Show</a></td>
    </tr>
    <tr>
      <th scope="row">Value per apartament</th>
      <td>R$ 119,24</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>