
<div class="text-box">
	<div id="image">
		<%= image_tag("money.png", class: "image") %>
	</div>
<h3> Save your money with us!</h3>
<p>You can manage your properties without paying </p>
</div>

<div class="text-box">
	<div class="image">
		<%= image_tag("time.png", class: "image") %>
	</div>
<h3> Save your time with us!</h3>
<p>You can manage your properties at home </p>
</div>

<div class="text-box" id="border-short-box">
	<div class="image">
		<%= image_tag("effort.png", class: "image") %>
	</div>
<h3> Save your efforts with us!</h3>
<p>You can manage your properties on an easy way </p>
</div>

