
<div id="start-content">
	<h1>Let's Start!</h1>

</div>

<div id="start-content">
<h3> Welcome to our page! We developed this plataform to be an easy way to save money, time and efforts managing your properties. 
</h3>
</div>

<div id="info-box">
	<div id="image">
		<%= image_tag("money.png", class: "image") %>
	</div>
<h3> Save your money with us!</h3>
<p>You can manage your properties at home without paying </p>
</div>
