
<div class="long-box">
	<h1>Let's Start!</h1>

</div>

<div class="long-box">
<h3> Welcome to our page! We developed this plataform to be an easy way to save money, time and efforts managing your properties. 
</h3>
</div>

<div class="short-box">
	<div id="image">
		<%= image_tag("money.png", class: "image") %>
	</div>
<h3> Save your money with us!</h3>
<p>You can manage your properties without paying </p>
</div>

<div class="short-box">
	<div class="image">
		<%= image_tag("time.png", class: "image") %>
	</div>
<h3> Save your time with us!</h3>
<p>You can manage your properties at home </p>
</div>

<div class="short-box">
	<div class="image">
		<%= image_tag("effort.png", class: "image") %>
	</div>
<h3> Save your efforts with us!</h3>
<p>You can manage your properties on an easy way </p>
</div>

<div class="long-box">
<h3> Sign Up to learn how to use our application
</h3>
</div>