<div class="container new-condominium-btn">
<%= button_to 'New Condominium', new_admins_condominium_path, :method => :get %>
</div>
<% @residents.each do |resident| %>


 <div class="col s12 m7 container admin-card">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <h5>Email</h5>
            <p><%= resident.email %></p>
                </div>
                <%= button_to 'Remove', residents_path, class: "btn  cyan darken-4" %>
            <!--%= button_to 'Destroy', admins_condominium_resident_path(resident),  class: "btn  cyan darken-4", method: :delete, data: { confirm: 'Are you sure?' } %-->
        </div>
      </div>
    </div>
  </div>
      <% end %>
