<% @messages.each do |message| %>

<% if message.admin_id %>
<div class="container">
<p> <b> <%= message.admin.name %> : </b> <%= message.text %> </p>
</div>
<% end %>

<% if message.resident_id %>
<div class="container">
<p> <b> <%= message.resident.name %> : </b> <%= message.text %> </p>
</div>
<% end %>

<% end %>