<div id='condominium-chat' data-condominium-id="<%= @condominium.id %>" 
	 class="row col-md-8 col-md-offset-2">
  
  <h1>Condominium chat</h1>

  <div id="chat-messages" class="panel panel-default">
    <%= render partial: 'shared/chat/message', collection: @messages %>
  </div>

  <%= render 'shared/chat/message_form' %>
</div>
