// Place all the styles related to the Condominia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*!
* Condominia Index 
*/


.card-action form.button_to{
	float: left;
}


.card-content {
	color: #FF9933;
}

.admin-card{
	background-color: #FF9933;
	padding: 10px;
}

.container.admin-show{
	background-color: #FF9933;
}


.container.resident-show{
	background-color: #FF9933;
}


.btn-blue{
	background-color: #253858;
}
