.content-box {
 border: 1px solid #428bca;
 border-radius: 5px;
 width: 200px;
 list-style: none; 
 background: #428bca;
 float: left;
 margin-right: 10px;
}

.content-box li h3, .content-box li p{
 
 text-decoration: none;
 color: white;
}