// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.half-box-login{
    width: 500px;
    padding: 10px;
    margin-left: 150px;	
    margin-top: 20px;

    float: left;
    padding-bottom: 96px;

    color: white;
    border-right: 5px solid gray;
}

.half-box-signup{
    width: 500px;
    padding: 10px;
    margin-top: 20px;

    float: left;

    color: white;
    border-right: 0;
}