<div id="condominium-chat-admins" data-condominium-id="<%= @condominium.id %>">
  <div class="row col-md-8 col-md-offset-2">
    <div class="panel-body" id="messages">
      <div class="panel-body" id="messages">
        <div style="margin-bottom: 30px">
          <% @messages.each do |message| %>
            <div class="container">
              <%= render "shared/messages/message", :message => message %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/messages/message_form', locals: {message: @message}%>
</div>
