<div id="condominium-show" data-condominium-id="<%= @condominium.id %>">
  <div class="row col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <% if @messages.any? %>
        <div class="panel-body" id="messages">
          <%= render "shared/messages/message" %>
        </div>
      <%else%>
        <div class="panel-body" id="messages">
        </div>
      <%end%>
    </div>

    <%= render partial: 'shared/messages/message_form', locals: {message: @message}%>
  </div>
</div>